In [0]:
import pandas as pd
import numpy as np
import re

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).




# Meu primeiro exercício usando COLAB

Vamos ao Pandas!


Faça o carregamento do arquivo CSV:

In [0]:
#data =  pd.read_csv('/content/Demonstrativo de pagamento.csv')
data = pd.read_csv('/content/drive/My Drive/Colab Notebooks/arquivos/Demonstrativo de pagamento.csv')
data.head(10)

   MATRÍCULA                   NOME COMPLETO  ... SALÁRIO LÍQUIDO     REFERÊNCIA
0     810029      MAYARA NASCIMENTO TRINDADE  ...     R$ 1.189,10  Mês 6 de 2019
1     810030  JOSE CARLOS FERREIRA DOS SANTO  ...     R$ 1.721,83  Mês 6 de 2019
2     810031            FARLEY MORAIS ARAUJO  ...     R$ 5.509,09  Mês 6 de 2019
3     810032  ALEXANDRE ANTONIO DE O ANDRADE  ...    R$ 11.030,20  Mês 6 de 2019
4     810033         HOSANA DA SILVA DE MELO  ...     R$ 5.974,94  Mês 6 de 2019
5     810034     CARLOS SOARES NOLETO JUNIOR  ...     R$ 4.883,47  Mês 6 de 2019
6     810035   TAIENI VALOIS DA MOTA S COSTA  ...     R$ 1.505,40  Mês 6 de 2019
7     810036    OWEDERSON RICARDO DE O ALVES  ...     R$ 3.564,10  Mês 6 de 2019
8     810038           SEBASTIAO SILVA SOUZA  ...       R$ 989,22  Mês 6 de 2019
9     810040          ANTONIO DA SILVA SOUSA  ...     R$ 2.196,49  Mês 6 de 2019

[10 rows x 11 columns]

Preparação de dados: 

1.   Faça a remoção do R$ de todos os valores numéridos.
2.   Transforme os campos de pagamentos/desconto para o tipo numérico

In [0]:
def converte_float(x):
  x = x.replace('R$ ', '')
  x = x.replace('.','')
  x = x.replace(',', '.')
  return float(x)

In [0]:
data['SALÁRIO LÍQUIDO'] = data['SALÁRIO LÍQUIDO'].apply(lambda x: converte_float(x))
data['DESCONTO IRRF'] = data['DESCONTO IRRF'].apply(lambda x: converte_float(x))
data['DESCONTO PREVIDÊNCIA'] = data['DESCONTO PREVIDÊNCIA'].apply(lambda x: converte_float(x))
data['DESCONTOS DIVERSOS'] = data['DESCONTOS DIVERSOS'].apply(lambda x: converte_float(x))
data['TOTAL VENCIMENTO*'] = data['TOTAL VENCIMENTO*'].apply(lambda x: converte_float(x))

data.head(10)

   MATRÍCULA                   NOME COMPLETO  ... SALÁRIO LÍQUIDO     REFERÊNCIA
0     810029      MAYARA NASCIMENTO TRINDADE  ...         1189.10  Mês 6 de 2019
1     810030  JOSE CARLOS FERREIRA DOS SANTO  ...         1721.83  Mês 6 de 2019
2     810031            FARLEY MORAIS ARAUJO  ...         5509.09  Mês 6 de 2019
3     810032  ALEXANDRE ANTONIO DE O ANDRADE  ...        11030.20  Mês 6 de 2019
4     810033         HOSANA DA SILVA DE MELO  ...         5974.94  Mês 6 de 2019
5     810034     CARLOS SOARES NOLETO JUNIOR  ...         4883.47  Mês 6 de 2019
6     810035   TAIENI VALOIS DA MOTA S COSTA  ...         1505.40  Mês 6 de 2019
7     810036    OWEDERSON RICARDO DE O ALVES  ...         3564.10  Mês 6 de 2019
8     810038           SEBASTIAO SILVA SOUZA  ...          989.22  Mês 6 de 2019
9     810040          ANTONIO DA SILVA SOUSA  ...         2196.49  Mês 6 de 2019

[10 rows x 11 columns]

Calcule o valor médio do salário bruto da UNITINS.

In [0]:
data['SALÁRIO LÍQUIDO'].mean()

3897.320266903915

Calcule o valor médio do salário bruto do Técnico Administrativo da UNITINS

In [0]:
regex = r'PROF.+'
tec = data[data['FUNÇÃO'].str.match(regex) == False]

tec['SALÁRIO LÍQUIDO'].mean()

3209.2770809248605

Calcule o salário médio do salário bruto do Docente da UNITINS

In [0]:
prof = data[data['FUNÇÃO'].str.match(regex)]
prof['SALÁRIO LÍQUIDO'].mean()

4999.463518518523

Calcule a porcentagem de colaboradores da UNITINS com desconto diversos (emprétimos ou plano de saúde